/* Styles for Contact */
.ContactContainer {
  background-color: #302f2f;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: white;
  

  .ContactContent {
    display: flex;
    gap: 1rem;
  
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;

    border: thin solid rgb(71, 70, 70);
    background-color: #424141;
  }
  .ContactContentMobile{
    width: 85%;
    display: flex;
    gap: 1rem;
  
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;

    border: thin solid rgb(71, 70, 70);
    background-color: #424141;
  }
}
